// ------ Color ------------
$black: #000000;


// ------ Flexboxgrid ------
$breakpoints: sm 48rem 46rem, md 62rem 61rem, lg 79rem 71rem, xl 108rem 105rem !default;

// ------ Measures ------
$bp_tablet: 768; // px
$bp_sm_desktop: 1050; // px
$bp_desktop: 1250; // px
$bp_xl_desktop: 1720; // px
