@import '../../../../../styles/main';


mat-form-field {
  width: 100%;
  margin: px2rem(10);
}

.movie-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &__chip-values {
    position: relative;
    display: flex;
    flex-direction: column;
    border: px2rem(1) solid $black;
    border-radius: px2rem(10);
    padding: px2rem(5);
    margin-left: px2rem(10);

    .icon {
      cursor: pointer;
      position: absolute;
      top: px2rem(-8);
      right: px2rem(-8);
      background: $white;
      border: px2rem(1) solid $black;
      border-radius: 50%;
      font-size: px2rem(16);
      padding: px2rem(5);
      line-height: px2rem(5);
    }
  }
}
