<div class="edit-movie">
  <div class="edit-movie__poster">
    <img [src]="formMovie.get('poster')?.value ? formMovie.get('poster')?.value : 'assets/images/not-found-image.jpg'" alt="{{formMovie.get('title')?.value}}">
  </div>
  <div class="edit-movie__data" *ngIf="!isEnableUpdate else TempleteFormMovie">
    <div class="edit-movie__data__score">
      <div class="edit-movie__data__score__box">
        <h2>{{ 'movies.form.score' | translate }}</h2>
        <span>{{formMovie.get('imdbRating')?.value}}</span>
      </div>
      <div class="edit-movie__data__score__box--duration">
        <h2>{{ 'movies.form.duration' | translate }}</h2>
        <span>{{formMovie.get('duration')?.value | timeMovie}}</span>
      </div>
    </div>
    <div>
      <h2>{{ 'actors.title' | translate }}</h2>
      <p *ngFor="let actor of actorsValues.controls">
        {{(getNameActor(actor.value) | async)}}
      </p>
    </div>
    <div>
      <h2>{{ 'companies.title' | translate }}</h2>
      <p>{{getNameCompany(formMovie.get('id')?.value) | async}}</p>
    </div>
    <div class="edit-movie__data__genre">
      <h2>{{ 'movies.form.genre' | translate }}</h2>
      <span *ngFor="let genre of genreValues.controls">#{{genre.value}}</span>
    </div>
  </div>
  <ng-template #TempleteFormMovie>
    <app-form-movie class="edit-movie__form"
    [formMovie]="formMovie"
    [companies]="(companies$ | async)"
    [actors]="(actors$ | async)">
    </app-form-movie>
  </ng-template>
  <button mat-fab class="edit-movie__update" type="button" color="primary"
    (click)="isEnableUpdate ? updateMovie() : enableMovie()">
    <mat-icon>{{ isEnableUpdate ? 'save' : 'edit'}}</mat-icon>
  </button>
  <button mat-fab class="edit-movie__delete" type="button" color="warn" (click)="removeMovie()">
    <mat-icon>delete</mat-icon>
  </button>
</div>
