@import '../../../../../styles/main';

.edit-movie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: px2rem(15);

  @include breakpoint(md) {
    margin: px2rem(10);
    flex-direction: row;
    align-items: flex-start;
  }

  &__form {
    width: 100%;

    @include breakpoint(md) {
      width: 50%;
    }
  }

  &__poster {
    display: flex;
    justify-content: center;
    width: 100%;
    @include breakpoint(md) {
      width: 50%;
    }
    img {
      width: 80vw;
      max-width: px2rem(400);

      @include breakpoint(md) {
        width: 100vw;
      }
    }
  }

  &__data {
    width: 100%;

    @include breakpoint(md) {
      margin-left: px2rem(10);
      width: 50%;
    }

    h2 {
      border-bottom: px2rem(1) solid $black;
      margin-top: px2rem(10);
      margin-bottom: px2rem(10);
    }

    &__score {
      display: flex;
      justify-content: space-between;
      width: 100%;

      &__box {
        width: 50%;

        h2 {
          border-bottom: 0;
        }

        &--duration {
          text-align: right;

          h2 {
            border-bottom: 0;
          }
        }
      }
    }

    &__genre {
      span {
        margin-right: px2rem(10);
      }
    }
  }

  &__update {
    position: fixed;
    bottom: px2rem(10);
    right: px2rem(80);
  }

  &__delete {
    position: fixed;
    bottom: px2rem(10);
    right: px2rem(20);
  }

}
