<div class="create-movie">
  <form class="create-movie__form" [formGroup]="formMovie">
    <mat-form-field appearance="fill">
      <mat-label>{{ 'movies.form.title' | translate }}</mat-label>
      <input matInput type="text" formControlName="title">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'movies.form.poster' | translate }}</mat-label>
      <input matInput type="text" formControlName="poster">
      <mat-error *ngIf="formMovie.get('poster')?.hasError('pattern')">{{'movies.form.poster-error' |translate}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="create-movie__form__genre" appearance="fill">
      <mat-label>{{ 'movies.form.genre' | translate }}</mat-label>
      <input matInput #inputGenren type="text">
      <button type="button" matSuffix [disabled]="!inputGenren.value" mat-icon-button
        (click)="addGenre(inputGenren.value)">
        <mat-icon>add</mat-icon>
      </button>
    </mat-form-field>
    <ng-container formArrayName="genre">
      <div class="create-movie__form__chip-values" [formGroupName]="i"
        *ngFor="let genre of genreValues.controls; let i = index">
        <span class="icon" (click)="removeGenre(i)">&#45;</span>
        <span>#{{genre.value}}</span>
      </div>
    </ng-container>
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>{{ 'actors.title' | translate }}</mat-label>
      <mat-select #selectActor [placeholder]="'movies.form.select_actor' | translate"
        (selectionChange)="addActor($event.value)">
        <mat-option *ngFor="let actor of actors" [disabled]="isSelectedActor(actor.id)" [value]="actor.id">
          {{actor.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <ng-container formArrayName="actors">
      <div class="create-movie__form__chip-values" [formGroupName]="i"
        *ngFor="let actor of actorsValues.controls; let i = index">
        <span class="icon" (click)="removeActor(i)">&#45;</span>
        <span>{{getNameActor(actor.value)}}</span>
      </div>
    </ng-container>
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>{{ 'companies.title' | translate }}</mat-label>
      <mat-select formControlName="company" [placeholder]="'movies.form.select_company' | translate">
        <mat-option *ngFor="let companie of companies" [value]="companie.id">{{companie.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'movies.form.year' | translate }}</mat-label>
      <input matInput type="number" formControlName="year">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'movies.form.duration' | translate }}</mat-label>
      <input matInput type="number" formControlName="duration">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>{{ 'movies.form.score' | translate }}</mat-label>
      <input matInput type="number" formControlName="imdbRating">
    </mat-form-field>
  </form>
  <button mat-fab [disabled]="formMovie.invalid" class="create-movie__save" color="primary" (click)="saveMovie()">
    <mat-icon>save</mat-icon>
  </button>
</div>
