@import '../../../../../styles/main';

.create-movie {
  display: flex;
  justify-content: center;

  @include breakpoint(md) {
    margin: px2rem(10);
  }

  &__form {
    width: 100%;
    @include breakpoint(md) {
      width: 50%;
    }
  }

  &__save {
    position: fixed;
    bottom: px2rem(10);
    right: px2rem(20);
  }
}
