@import '../../../styles/main';

.list-movies {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: px2rem(25);
  justify-content: space-around;

  &__card {
    margin: px2rem(10);
    width: px2rem(350);
    cursor: pointer;
  }

  &__create-movie{
    position: fixed;
    bottom: px2rem(10);
    right: px2rem(20);
  }
}
